<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Первый проект на Django</title>
	<style type="text/css">
		#mytext1,#mytext2,#mytext3 {position: absolute;}
        #mytext1  {  top: 50px;left: 200px; }
        #mytext2  {  top: 200px;left: 300px;}
        #mytext3  {  top: 300px;left: 400px;}

	</style>

</head>

<body background="https://www.firestock.ru/download/s/1ip8b3qqixgy9no/Fotolia_46795878_Subscription_XXL.jpg">
<div id="mytext1">
   <H1>{{text1|upper}}</H1>
</div>

<div id="mytext2">
   <H2>{{text2}}</H2>
</div>

<div id="mytext3">
   <h3>{{text3}}</h3>
</div>


</body>
</html>

